.div-container  {
    display: block;
    width: 100%;
    height: 450px;
}
.div-container > img {
    height: 100%;
    width: 100%;
}
.nav-link:hover{
    background-color: #be4d25!important;
    color: white !important;
}
main{
    background-color: #e4e4e4;
}
.search:hover{
    background-color: #be4d25 !important;
    border-color: #be4d25 !important;
}
.carousel-control-next, .carousel-control-prev{
    width: 5% !important;
}
.img{
    max-width: 20% !important;
}
.h-100{
    height: 88% !important;
}
